@import "tailwindcss";

@import "./typography/index.css";

@layer base {
}

body {
  height: 100svh;
  width: 100svw;
}

#root {
  height: 100%;
  width: 100%;
}

:root {
  --font-zhuzimincho: "筑紫明朝", sans-serif;
  --font-novecento: "Novecento";
  --font-source-han-sans: "Source Han Sans SC";
  --font-pleasure: "Pleasure";
}
